<audio id="bebe" src="assets/music/choro-bebe.mp3"></audio>

<mat-sidenav-container class="container">
  <mat-sidenav  #nav class="sidenav mat-elevation-z2" mode="side" opened fixedInViewport="true">
      <!-- nav no lado, aberto, fixo na area de visualização, tamanho de espaçamento em relação ao topo  -->
      <mat-nav-list class="nav-list">
          <a mat-list-item routerLink="/" >
              <!-- deixanodo item em uma linha separada com um espaçamento entre as bordas laterias -->
              <i class="material-icons">
                  home
              </i>
              Início
          </a>
          <a mat-list-item routerLink="/jogo">
              <i class="material-icons">
                videogame_asset
              </i>
              Truth or Dare
          </a>
          <a mat-list-item routerLink="/soft" (click)="reproduzirAudio()">
            <i class="material-icons">
              child_friendly
            </i>
            Soft Version
          </a>
          <a mat-list-item routerLink="/regras">
            <i class="material-icons">
              assignment
            </i>
            Regras
        </a>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content" >
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
