<button mat-raised-button color="primary" routerLink="/" class="home">Início</button>
<mat-card class="regras mat-elevation-z1">
  <mat-card-title class="title">Regras</mat-card-title>
  <mat-card-subtitle class="subtitle">
    <ul>
      <li> Tire uma carta e cumpra ou responda o que foi solicitado.</li> <br>
      <li> Não pode escolher verdade mais de três vezes seguidas.</li> <br>
      <li>Jogadores sentam-se ao redor da mesa, o computador é posicionado no meio da mesa e definem quem vai começar.
         O primeiro jogador sorteia uma carta do baralho e segue a classificação da carta.
      </li><br>
      <li> Jogo segue em sentido horário.</li> <br>
      <li>As doses podem ser convertidas para goles da sua bebida, ou para shots de água, ou até mesmo flexões <span
          class="menor yellow">(para os amiguinhos que não bebem 😉)</span> </li> <br>
      <li>As cartas dão orientação do que fazer então é só seguir as mesmas</li> <br>
      <li>Caso a punição não esteja especificada nas carta os jogadores podem escolher a quantidade de doses <span
          class="menor yellow">(Conselho: quantidade punitiva de 1 até 3 no máx)</span></li> <br>
      <li> Peça consentimento para as cartas que envolvem outras pessoas!</li> <br>
    </ul>

    <span class="final">Não fez? <span class="yellow">BEBE!</span></span>
  </mat-card-subtitle>
</mat-card>
<div class="areaButton">
  <button mat-raised-button color="primary" (click)="openUrl()">P/ mais explicações!</button>
</div>
